<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>960 Grid System &mdash; Demo</title>
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/text.css" />
        <link rel="stylesheet" href="css/960_24_col.css" />
      
        <link rel="stylesheet" href="css/style.css" />
        <!--script js-->

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>


    </head>
    <body>

        <div class="container_24">
            <div class="grid_24">
                <div id="header">
                    <h3>JMC</h3>
                </div>
                <div id="menu_top">
                    <div class="menutop"><a href="#" title="Home"> Home</a></div>
                    <div class="menutop"><a href="#" title="about"> About </a></div>
                    <div class="menutop"> <a href="#"  title="Portofolio">Portofolio</a></div>
                    <div class="menutop"><a href="#" title="client"> Client</a></div>
                    <div class="menutop"> <a href="#" title="Contact">Contact</a></div>

                </div>
            </div>


            <div class="grid_24" >
                <div class="artikel">
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid_24 footer">
                &copy; puji rahmadiyanto design<br>
                JOGJA MEDIA CENTER<br>
                Jl. Magelang Km.5 Kutu Dukuh Ruko No.3 Selokan Mataram<br>
                Yogyakarta
            </div>

            <!-- end .grid_12.pull_12 -->
            <div class="clear"></div>
        </div>
        <!-- end .container_24 -->
    </body>
</html>