
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>960 Grid System &mdash; Demo</title>
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/text.css" />
        <link rel="stylesheet" href="css/960_24_col.css" />

        <link rel="stylesheet" href="css/style.css" />
        <!--script js-->

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>


    </head>
    <body>

        <div class="container_24">
            <div class="grid_24">
                <div id="header">
                    <h3>JMC</h3>
                </div>
                <div id="menu_top">
                    <div id="menuatas">
                        <ul >
                            <li ><a href="<?php echo site_url(); ?>/home" >Home</a></li>
                            <li><a href="<?php echo site_url(); ?>/about#">About</a></li>
                            <li><a href="<?php echo site_url(); ?>/portofolio#" >Portofolio</a></li>
                            <li><a href="<?php echo site_url(); ?>/client" >Client</a></li>
                            <li><a href="<?php echo site_url(); ?>/contact" >Contact</a></li>
                            <li><a href="<?php echo site_url(); ?>/order" >Order</a></li>
                            <li><input type="text" size="20" id="serach"/></a></li>
                            <!--			<li><a href="#">Contact</a></li>-->
                        </ul>
                    </div>

                </div>
            </div>


            <div class="grid_24" >
                <div class="artikel">
                    <div class="clientitem">
                        <h4>Client </h4>
                        <img src="images/jmc_tumbh.png">
                        <p>Client 1</p>
                    </div>
                    <div class="clientitem">
                        <h4>Client </h4>
                        <img src="images/jmc_tumbh.png">
                        <p>Client 1</p>
                    </div>
                    <div class="clientitem">
                        <h4>Client </h4>
                        <img src="images/jmc_tumbh.png">
                        <p>Client 1</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid_24 footer">
                &copy; puji rahmadiyanto design<br>
                JOGJA MEDIA CENTER<br>
                Jl. Magelang Km.5 Kutu Dukuh Ruko No.3 Selokan Mataram<br>
                Yogyakarta
            </div>

            <!-- end .grid_12.pull_12 -->
            <div class="clear"></div>
        </div>
        <!-- end .container_24 -->
    </body>
</html>