<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>JMC</title>
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/text.css" />
        <link rel="stylesheet" href="css/960_24_col.css" />
      
        <link rel="stylesheet" href="css/style.css" />
        <!--script js-->

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>


    </head>
    <body>

        <div class="container_24">
            <div class="grid_24">
                <div id="header">
                    <h3>JMC</h3>
                </div>
                <div id="menu_top">
                    <div class="menutop"><a href="#" title="Home"> Home</a></div>
                    <div class="menutop"><a href="#" title="about"> About </a></div>
                    <div class="menutop"> <a href="#"  title="Portofolio">Portofolio</a></div>
                    <div class="menutop"><a href="#" title="client"> Client</a></div>
                    <div class="menutop"> <a href="#" title="Contact">Contact</a></div>

                </div>
            </div>


            <div class="grid_15" >
                <div id="gallery">

                    <div id="slides">

                        <div class="slide"><img src="images/960_grid_24_col_08.png" width="594" height="536" alt="side" /></div>
                        <div class="slide"><img src="images/jmc.png" width="594" height="536" alt="side" /></div>
                       
                    </div>

                    <div id="menu">

                        <ul id="menu_slider">
                            <li class="fbar">&nbsp;</li><li class="menuItem"><a href=""><img src="img/sample_slides/thumb_macbook.png" alt="thumbnail" /></a></li>

                            <li class="fbar"><a href=""><img src="img/sample_slides/thumb_iphone.png" alt="thumbnail" /></a></li>


                        </ul>


                    </div>

                </div>

            </div>
            <div class="grid_9">



                <div id="sidebar">

                    <div id="sidebarcontent">
                        <h4>Contact</h4>
                        DanieL, 0274 - 8377 686<br>
                        T-Sel : 0821 3890 4125<br>
                        XL: 0818 0277 <br>
                        <hr>
                        e-mail : jogjamediacenter@yahoo.com
                    </div>
                </div>

                <div id="sosmedia">

                    <img src="images/twitter.png" class="sosmediaa" title="Twitter">
                    <img src="images/facebook.png" class="sosmediaa" title="Facebook">
                    <img src="images/ym.png" class="sosmediaa" title="Yahoo Messanger">
                    <img src="images/rss.png" class="sosmediaa" title="RSS">

                </div>
            </div>
            <div class="clear"></div>

            <div class="grid_24 footer">
                &copy; puji rahmadiyanto design<br>
                JOGJA MEDIA CENTER<br>
                Jl. Magelang Km.5 Kutu Dukuh Ruko No.3 Selokan Mataram<br>
                Yogyakarta
            </div>

            <!-- end .grid_12.pull_12 -->
            <div class="clear"></div>
        </div>
        <!-- end .container_24 -->
    </body>
</html>