<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>960 Grid System &mdash; Demo</title>
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/text.css" />
        <link rel="stylesheet" href="css/960_24_col.css" />

        <link rel="stylesheet" href="css/style.css" />
        <!--script js-->

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>


    </head>
    <body>

        <div class="container_24">
            <div class="grid_24">
                <div id="header">
                    <h3>JMC</h3>
                </div>
                <div id="menu_top">
                    <div class="menutop"><a href="#" title="Home"> Home</a></div>
                    <div class="menutop"><a href="#" title="about"> About </a></div>
                    <div class="menutop"> <a href="#"  title="Portofolio">Portofolio</a></div>
                    <div class="menutop"><a href="#" title="client"> Client</a></div>
                    <div class="menutop"> <a href="#" title="Contact">Contact</a></div>

                </div>
            </div>


            <div class="grid_24" >
                <div class="artikel">
                    <div class="portoitemleft">

                        <h4>Lorem ipsum</h4>
                        <p style="width: 65%; float: left;">
                            Lorem Ipsum
                            Ah, the good old Lorem Ipsum.  The best resource for Lorem Ipsum information and generation appears to be http://www.lipsum.com/.  This second site's benefit is generating Lorem Ipsum

                        </p>

                        <img src="images/jmc_tumbh.png" class="imgportoright" align="right">

                    </div>
                    <div class="portoitemright">
                        <h4>Lorem ipsum</h4>
                        <p style="width: 65%; float: left;">
                            Lorem Ipsum
                            Ah, the good old Lorem Ipsum.  The best resource for Lorem Ipsum information and generation appears to be http://www.lipsum.com/.  This second site's benefit is generating Lorem Ipsum

                        </p>

                        <img src="images/jmc_tumbh.png" class="imgportoright" align="right">

                    </div>
                    <div class="portoitemleft">
                        <h4>Lorem ipsum</h4>
                        <p style="width: 65%; float: left;">
                            Lorem Ipsum
                            Ah, the good old Lorem Ipsum.  The best resource for Lorem Ipsum information and generation appears to be http://www.lipsum.com/.  This second site's benefit is generating Lorem Ipsum

                        </p>

                        <img src="images/jmc_tumbh.png" class="imgportoright" align="right">

                    </div>
                    <div class="portoitemright">
                        <h4>Lorem ipsum</h4>
                        <p style="width: 65%; float: left;">
                            Lorem Ipsum
                            Ah, the good old Lorem Ipsum.  The best resource for Lorem Ipsum information and generation appears to be http://www.lipsum.com/.  This second site's benefit is generating Lorem Ipsum

                        </p>

                        <img src="images/jmc_tumbh.png" class="imgportoright" align="right">
                    </div>
                    <div class="portoitemleft">
                        <h4>Lorem ipsum</h4>
                        <p style="width: 65%; float: left;">
                            Lorem Ipsum
                            Ah, the good old Lorem Ipsum.  The best resource for Lorem Ipsum information and generation appears to be http://www.lipsum.com/.  This second site's benefit is generating Lorem Ipsum

                        </p>

                        <img src="images/jmc_tumbh.png" class="imgportoright" align="right">
                    </div>
                    <div class="portoitemright">

                        <h4>Lorem ipsum</h4>
                        <p style="width: 65%; float: left;">
                            Lorem Ipsum
                            Ah, the good old Lorem Ipsum.  The best resource for Lorem Ipsum information and generation appears to be http://www.lipsum.com/.  This second site's benefit is generating Lorem Ipsum

                       
                        <a href="#">Readmore</a></p>
                        <img src="images/jmc_tumbh.png" class="imgportoright" align="right">
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid_24 footer">
                &copy; puji rahmadiyanto design<br>
                JOGJA MEDIA CENTER<br>
                Jl. Magelang Km.5 Kutu Dukuh Ruko No.3 Selokan Mataram<br>
                Yogyakarta
            </div>

            <!-- end .grid_12.pull_12 -->
            <div class="clear"></div>
        </div>
        <!-- end .container_24 -->
    </body>
</html>